@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido A mi Laboratorio Uno de DPWA.</h1>
    <p>Obtener mi codigo <a href="https://github.com/GersonArlindo/PrimerLabDPWA">Mi Repositorio de GitHub</a>.</p>
    <br />
    <br />
    <a href="https://ibb.co/qpj6frJ"><img src="https://i.ibb.co/L1RKWZN/biblioteca.png" alt="biblioteca" border="0"></a>
</div>
